[Unit]
Description=Transparent Proxy Settings
After=network.target v2ray.service
Requires=v2ray.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/transparentproxy/iptables-set.sh
ExecStop=/etc/transparentproxy/iptables-unset.sh

[Install]
WantedBy=multi-user.target
